{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'storefront/css/TermProject.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>
    <script></script>
</head>
<body style="background-color: #F5FFFA">
    <nav class="nav navbar-inverse" style="background-color: #2F4F4F">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand">Flip The Page</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../search"><span class="glyphicon glyphicon-search"></span> SEARCH</a></li>
                <li><a href="../mycart"> MY CART</a></li>
                {% if x %}
                    <li><a href="../logout">LOGOUT</a></li>
                    <li><a href="../profile">View Profile</a></li>
                {% else %}
                    <li><a href="../login">LOGIN</a></li>
                {% endif %}

                {%if user.is_staff%}
                    <li><a href="../admin">Admin</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <form method = "post" enctype="multipart/form-data" id ="inventoryAddBook">
        {% csrf_token %}
        {{ form.as_p}}
        <a href="{% url 'checkout' %}"><button type="submit" class="btn btn-default">Add Promo</button></a>
    </form>

</body>
</html>