{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'storefront/css/TermProject.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>
    <script></script>
</head>
<body style="background-color: #F5FFFA">
    <nav class="nav navbar-inverse" style="background-color: #2F4F4F">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand">Flip The Page</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'search' %}"><span class="glyphicon glyphicon-search"></span> SEARCH</a></li>
                <li><a href="{% url 'mycart' %}"> MY CART</a></li>
                {% if x %}
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                    <li><a href="{% url 'view_profile' %}">VIEW PROFILE</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">LOGIN</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <br>
    <br>
<div id="info" class="container">
               <div class="col-sm-8">
                    <div class="card" style="width:40rem">
                        <div class="card-body" alt="Card image cap">
                            <img src="{{book.pic.url}}" alt="{{ book.title }}" style="width:100%;">
                        </div>
                    </div>
                </div>

            <h1>{{ book.title }}</h1>
            <h2>Author: {{ book.authors }}</h2>
            <h2>Publisher: {{ book.publisher }}</h2>
            <h2>Editor: {{ book.editor }}</h2>
            <h2>Number of Copies: {{ book.number_of_copies }}</h2>
            <h2>${{ book.sell_price }}</h2>
        <a href="{% url 'addtocart' bid=book.bookid %}"><button type="button" class="btn btn-default" style="border: 2px solid #2F4F4F">Add to Cart</button></a>
    </div>

</body>
</html>