{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'storefront/css/TermProject.css' %}">
<!--    <link rel="stylesheet" href="css/TermProject.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <title>Add A Book</title>
    <script></script>

<body style="background-color: #F5FFFA">
    <nav class="nav navbar-inverse" style="background-color: #2F4F4F">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand">Flip The Page</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            </ul>
        </div>
    </nav>
    <form action="" method = "post"  id ="inventoryEditBook" style="text-align: left; margin: 10px;" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Changes</button>
    </form>
</body>
</html>