{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
<!--    <link rel="stylesheet" href="../css/TermProject.css">-->
    <link rel="stylesheet" type="text/css" href="{% static 'storefront/css/TermProject.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>
    <script></script>
</head>
<body style="background-color: #F5FFFA">
    <nav class="nav navbar-inverse" style="background-color: #2F4F4F">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="../home" class="navbar-brand">Flip The Page</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="search.html"><span class="glyphicon glyphicon-search"></span> SEARCH</a></li>
                <li><a href="../login">LOGIN</a></li>
                <li><a href="mycart.html">MY CART</a></li>
            </ul>
        </div>
    </nav>

    <div class="regComp">
        <h2>REGISTRATION COMPLETE</h2>
        <p>You have successfully logged out</p>
        <a href="../home">HOME</a>
    </div>
</body>
</html>