{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'storefront/css/TermProject.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>
    <script></script>
</head>

<body style="background-color: #F5FFFA">
    <nav class="nav navbar-inverse" style="background-color: #2F4F4F">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="home.html" class="navbar-brand">Flip The Page</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../search"><span class="glyphicon glyphicon-search"></span> SEARCH</a></li>
                {% if user.isauthenticated %}
                    <li><a href="../logout">LOGOUT</a></li>
                    <li><a href="../profile">View Profile</a></li>
                {% else %}
                    <li><a href="../login">LOGIN</a></li>
                {% endif %}

                {%if user.is_staff%}
                    <li><a href="../admin">Admin</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
 <div>
        <table>
            <tr>
                <th>Book Title</th>
                <th>Cover Picture</th>
                <th>Quantity</th>
                <th>Add 1</th>
                <th>Remove 1</th>
            </tr>
            {% for cart in cartlist %}
                {%for book in booklist%}
                    {%if cart.invid == book.bookid%}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td><img src="{{book.pic.url}}" alt="Coffee" style="width:100px;"></td>
                            <td>{{ cart.quantity }}</td>
                            <td><a href="{% url 'addtocart' bid=book.bookid %}"><button type="button" class="btn btn-default">Add 1 to Cart</button></a></td>
                            <td><a href="{% url 'removefromcart' bid=book.bookid %}"><button type="button" class="btn btn-default">Remove 1 From Cart</button></a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>

    <div>
        Total is {{total}}
        <a href="../checkout"><button type="button" class="btn btn-default">Checkout</button></a>
    </div>

</body>
</html>
