{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'storefront/css/TermProject.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>
    <script></script>
</head>

<body style="background-color: #F5FFFA">
    <nav class="nav navbar-inverse" style="background-color: #2F4F4F">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand">Flip The Page</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'search' %}"><span class="glyphicon glyphicon-search"></span> SEARCH</a></li>
                <li><a href="{% url 'mycart' %}"> MY CART</a></li>
                {% if x %}
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                    <li><a href="{% url 'view_profile' %}">VIEW PROFILE</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">LOGIN</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div>
        <table>
            <tr>
                <th>Book Title</th>
                <th>Cover Picture</th>
                <th>Quantity</th>
                <th>Add 1</th>
                <th>Remove 1</th>
            </tr>
            {% for cart in cartlist %}
                {%for book in booklist%}
                    {%if cart.invid == book.bookid%}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td><img src="{{book.pic.url}}" alt="Coffee" style="width:100px;"></td>
                            <td>{{ cart.quantity }}</td>
                            {%if cart.quantity == book.number_of_copies%}
                            <td>No More in Stock</td>
                            {%else%}
                            <td><a href="{% url 'addtocart' bid=book.bookid %}"><button type="button" class="btn btn-default">Add 1 to Cart</button></a></td>
                            {%endif%}
                            <td><a href="{% url 'removefromcart' bid=book.bookid %}"><button type="button" class="btn btn-default">Remove 1 From Cart</button></a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>

    <div align="middle">
        {% if total %}
            <h3>Total is ${{total}}</h3>
            <a href="{% url 'checkout' %}"><button type="button" class="btn btn-default" style="border: 2px solid #2F4F4F">Checkout</button></a>
        {% else %}
            <p>Cart is Empty</p>
        {% endif %}
    </div>

</body>
</html>
