<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/TermProject.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>
    <script></script>
</head>

<body>
  <nav class="nav navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="home.html" class="navbar-brand">BOOKSTORE TITLE</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="search.html"><span class="glyphicon glyphicon-search"></span> SEARCH</a></li>
                <li><a href="home.html">LOGOUT</a></li>
                <li><a href="mycart.html">MY CART</a></li>
            </ul>
        </div>
    </nav>
    <section class="confirmation">
        <div class="container">
            <div class="summary">
        
                    <h1>
                 Your Order Has Been Processed
                    </h1>
                   <div class="col-sm-5">
                  <div class="card">
                    <div class="card-body">
                        <img src="../images/LoR.jpg" alt="Coffee" style="width:100%;">
                    </div>
                </div>
                </div>
              <h2> Lord of The Rings</h2>
                            <div class="card text-white bg-secondary mb-3">

                                <div class="card-body">
                                    <h1 class="card-title">1</h1>
                                </div>
                        <h1>Total: $20</h1>
                    </div>
        </div>
                <div>
    <h3>Order Number: 123456</h3></div>
        </div>
        <div class="col-md-3">
                        <button><a href="return.html"> Return </a></button>

            </div>
    </section>
    
</body>
</html>
