<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/TermProject.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>
    <script></script>
</head>

<body style="background-color: #F5FFFA">
    <nav class="nav navbar-inverse" style="background-color: #2F4F4F">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand">Flip The Page</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'search' %}"><span class="glyphicon glyphicon-search"></span> SEARCH</a></li>
                <li><a href="{% url 'mycart' %}"> MY CART</a></li>
                {% if x %}
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                    <li><a href="{% url 'view_profile' %}">VIEW PROFILE</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">LOGIN</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <section class="confirmation">
        <div class="container">
            <div class="summary">
                <table>
            <tr>
                <th>Order ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Order Date</th>
                <th>Order Time</th>
                <th>Order Status</th>
                <th>Order Total</th>
                <th>Ordered Items</th>
                <th>Shipping Info</th>
                <th>Card Type</th>
                <th>Promotions Used</th>
            </tr>
            <tr>
                <td>{{order.orderid}}</td>
                <td>{{request.user.first_name}}</td>
                <td>{{request.user.last_name}}</td>
                <td>{{order.orderdate}}</td>
                <td>{{order.ordertime}}</td>
                <td>{{order.orderstatus}}</td>
                <td>{{order.totalprice}}</td>
                <td>{{order.books}}</td>
                <td>{{order.shipaddress}}</td>
                <td>{{order.paymentmethod}}</td>
                <td>{{order.promotion}}</td>
            </tr>


            </div>
        </div>
                <div>
    <h3>Order Number: 123456</h3></div>
        </div>
        <div class="col-md-3">
                        <button><a href="return.html"> Return </a></button>

            </div>
    </section>
    
</body>
</html>
