.carousel-inner > .item {
  height:400px;
}

form {
  text-align: center;
}

form p {
  font-size: xx-large;
}

#inventoryAddBook p{
  font-size: medium;
  font-color: #2F4F4F;
}

#id_pic {
    float: center;
}

form div {
  margin: 0px 0px 30px 0px;
}

.required {
  color: red;
}

.regComp {
  text-align: center;
}

.book div {
    display: inline-block;
}

table {
    width: 90%;
    text-align:center;
    font-size: 200%;
    text_color: #2F4F4F;
    margin: 20px;
}

table th {
    text_color: #2F4F4F;
    text-align: center;
}

td {
    height: 300px;
    vertical-align: middle;
    text-align: center;
}

li {
    list-style-type: none
}